.liste_couleurs {
    color:#FECA1F;
    color: #D9323E;
    color:#206167;
    color: #082432;
    color:#fff;
    color: #999;
    color:#000;
    color: #B0C7F4;
    color:#193866;
    color:#C78837;
}
